
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


.container{
  padding: 3% 12%;
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.527)100%);
  /* z-index: 1; */

}

.container .icon{
  position: relative;
  left:80%;
  /* bottom: 80%; */
  
}
.column{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 4rem;
}

.city_row{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 2rem;
}




.link{
    color: #7c7c7c;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    text-decoration: none;
  }

.link:hover {
    color: #ff9c00;
    transition: 200ms ease-in;
}
  
  .title{
    font-family: 'Playfair Display', serif;
    display: flex;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    margin-bottom: 4rem;
    margin-left: 4rem;
    font-weight: bold;
    height: 8rem;
    text-transform: capitalize;
  
  }

  

  .ancher{
    text-decoration: none;
    color: #7c7c7c;
    font-family: 'Playfair Display', serif;
  }

  .ancher:hover {
    color: #0bbd68;
    transition: 200ms ease-in;
}

