@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.features{
    text-align: center;
    margin: 2%;
    padding: 3% 10%;
    font-family: 'Playfair Display', serif;

}
.features .subheading {
    margin-bottom: 2%;
    color: #0BBD68;
    font-size: 1.8rem;
    letter-spacing: 0.1em;
    font-weight: 600;
}
.features h2 {
    margin-bottom: 5%;
}
.features .feature-elements img {
    width: 47%;
    height: 70%;
    margin-bottom: 8%;
}
.features .feature-elements p {
    color: #7c7c7c;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    margin-bottom: 8%;
}
