@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');


*{
    font-size: 62.5%;
  
}


/* Navigation bar */
.navigation{
    position: fixed;
    width: 100%;
    padding: 1rem 4rem;
    font-family: 'Playfair Display', serif;
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
    z-index: 2;
    background-color: #fff;
}
.navigation .logo{
    width: 8rem;
    height: 8rem;
}

.navigation .navbar .navbar-nav .nav-link{
    font-size: 2rem;
    padding: 1rem 2rem;
}

.navigation .navbar .navbar-nav .nav-link:hover{
    color: #0BBD68;
}

.navigation .navbar .navbar-nav .nav-link span img{
    width: 3rem;
    height: 3rem;
    margin-right: .5rem;
}
.navigation .navbar .navbar-nav .nav-link .cart{
    height: 3rem;
    width: 3rem;
    
}

/* Gallary and top hotels */

.gallary{
    
    padding: 15rem 20rem;
    font-family: 'Playfair Display', serif;
}

.gallary  h2{
    font-size: 4.3rem;
    margin-bottom: 1rem;
    margin: 2rem 2rem;
}

.gallary  p{
    font-size: 3rem;
    color: #4E4C4C;
    margin: 1rem 2rem 4rem;
}

.gallary  .cards .row .col{
    border-radius: 6.3rem;
    width: 10rem;
    height: 40rem;
    margin: 2rem 3rem ;
    padding: 0;
    cursor: pointer;
}

.gallary .cards .empty{
    height: 29.8rem;
    background:none;
}

.gallary .cards .card1{
    background-image: url('./images/table.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: center center;
    
}
.gallary  .cards .card2{
    background-image: url('./images/fries.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: center center;
}
.gallary  .cards .card3{
    background-image: url('./images/Cake.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: center center;
}
.gallary  .cards .card4{
    background-image: url('./images/Burger.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: center center;
}
.gallary .cards p{
    text-align: center;
    font-size: 2.3rem;
    line-height: 2.4rem;
    color: #fff;
    /* padding: 2rem 0; */
    background: rgba(0, 0, 0, 0.45);
    border-radius: 0 0 6.3rem 6.3rem;
    padding: 3.9rem 0;
    /* width: 50%; */
    margin: 0;
}
.gallary .cards .card1 p{
    padding: 3.9rem 2.5rem 1.5rem;   
}


/* hotels list */

.hotels{
    padding: 7rem 20rem;
    font-family: 'Playfair Display', serif;
}

.hotels h2{
    font-size: 4.3rem;
    margin-bottom: 5rem;
    margin-left: 2.5rem;
}

.hotels .col{
    margin: 5rem 2rem;
}

.hotels .col .card{
    width: 30rem !important;
    height: 40rem;
    border: 0.2rem solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 3.2rem;
    
}

.hotels .col .card img{
    text-align: center;
    padding: 1rem ;
    align-items: center;
    /* border: 0.1rem solid #E2E2E2; */
    box-sizing: border-box;
    border-radius: 3.1rem;
}

.hotels .col .card .card-title{
    font-size: 2.7rem;
    padding-left: 2rem;
}

.hotels .col .card .card-text{
    font-size: 2rem;
    padding-left: 1.8rem;
    color: #727272;
}

/* Popular dishes */


.dishes{
    padding: 7rem 20rem;
    font-family: 'Playfair Display', serif;
}

.dishes h2{
    font-size: 4.3rem;
    margin-bottom: 5rem;
    margin-left: 2.5rem;
}

.dishes .col{
    margin: 5rem 2rem;
}

.dishes .col .card{
    width: 30rem !important;
    height: 40rem;
    border: 0.2rem solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 3.2rem;
    
}

.dishes .col .card img{
    text-align: center;
    padding: 1rem ;
    align-items: center;
    /* border: 0.1rem solid #E2E2E2; */
    box-sizing: border-box;
    border-radius: 3.1rem;
}

.dishes .col .card .card-title{
    font-size: 2.7rem;
    padding-left: 2rem;
}

.dishes .col .card .card-subtitle{
    font-size: 2rem;
    padding-left: 2rem;
}

.dishes .col .card .card-text{
    font-size: 2rem;
    padding-left: 1.8rem;
    color: #727272;
}
