.container {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  animation: animate 30s ease-in-out infinite;
  background-size: cover;

}
.container img {
  width: 200px;
  height: auto;
  padding: 0px;
  margin: 0px;
}
.outer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}
.details {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.details h1 {
  font-size: 4em;
  color: #fff;
}
@keyframes animate {
  0%,
  100% {
    background-image: url(../component1/images/hellotasty_home_page_pics-01.png);
  }
  25% {
    background-image: url(../component1/images/hellotasty_home_page_pics-02.png);
  }
  50% {
    background-image: url(../component1/images/hellotasty_home_page_pics-03.png);
  }
  75% {
    background-image: url(../component1/images/hellotasty_home_page_pics-04.png);
  }
}

.search_box {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.815);
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  min-width: 600px;
}
.search_btn {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #2f3640;
  font-size: 16px;
  padding: 10px;
}
.main {
  position: absolute;
  top: 40%;
  left: 51%;
  transform: translate(-50%, -50%);
}
.subtitle {
  width: 500px;
}
.main img{
    width: 900px;
    height: auto;
}
